! ...
! Xresources
! Update with:
! xrdb ~/.Xresources
! xrdb -merge  ~/.Xresources
!...

! Xterm ========================
XTerm.termName: xterm-256color

! Set exec size
XTerm*geometry: 38x14+560+260

! Set text padding
XTerm*internalBorder:30

! Set font and fontsize
XTerm*faceName: Monospace
XTerm*faceSize: 12
xterm*font: *-fixed-*-*-*-18-*

! Set  utf-8 support
XTerm.vt100.locale: true

! Set color theme
*background: #232323
 *foreground: #f2f8f9
 *color0:     #000000
 *color1:     #d04767
 *color2:     #aece91
 *color3:     #efc002
 *color4:     #7a7ab0
 *color5:     #963c59
 *color6:     #418179
 *color7:     #bebebe
 *color8:     #666666
 *color9:     #ef8171
 *color10:    #e5f779
 *color11:    #fff796
 *color12:    #4186be
 *color13:    #f56789
 *color14:    #71bebe
 *color15:    #ffffff
! Xclock Styling
XClock*foreground: #c0c5ce
XClock*background: #232323
XClock*update: 60
XClock*geometry:          320x320+1020+12
XClock.Clock.majorColor:  #c0c5ce
XClock.Clock.minorColor:  #c0c5ce
XClock.Clock.hourColor:   #c0c5ce
XClock.Clock.minuteColor: #c0c5ce
XClock.Clock.secondColor: #c0c5ce
